.workoutsHeader{
    font-size: 25px;
    color: white;
    text-align: center;
}

.workoutSearch{
    color: white;
    padding-bottom: 20px;
    font-family: Candara;
    font-size: 22px;
}
#queryInput{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}
#results{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 80px;
}

.resultsTitle{
    font-size: 25px;
}

@media (min-width: 600px) {
    .workoutsHeader{
        font-size: 35px;
    }
    #queryInput{
        width: 400px;
        height: 200px;
        border-radius: 5px;
    }
}
        
