.workoutsHeader{
    font-size: 25px;
    color: white;
    text-align: center;
}

.workoutSearch{
    color: white;
    padding-bottom: 20px;
}
#queryInput{
    width: 200px;
    height: 100px;
}

@media (min-width: 600px) {
    .workoutsHeader{
        font-size: 35px;
    }
}
        
