.homepage{
    background-image: url("../images/barbellshadow.jpg");
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeHeader{
    color: white;
    font-family: 'Candara';
    font-size: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.track{
    font-size: 28px;
}
p{
    color: white;
    font-family: 'Candara';
    font-size: 32px;
}


h2{
    color:#e60000;
}

.homeButton{
	background-color:#e60000;
	border-radius: 10px;
    border:1px solid #942911;
    color: white;
	cursor:pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
	font-size:14px;
	padding:15px 36px;
	text-decoration:none;
    text-shadow:0px 0px 0px #854629;
    position: relative;
    transition: background-color .5s;
    margin-top: 10px;
}
.homeButton:hover{
    background-color: #8B0000;
}

.homepgDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.details{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.details p{
    font-size: 20px;
}



@media (min-width: 600px) {
    .homepgDetails{
        display: flex;
        flex-direction: row;

    }
    .details{
        width: 25%;
        padding: 20px;
        text-align: left;
    }
    .details p{
        font-size: 22px;
    }
    .homeHeader{
        color: white;
        font-size: 50px;
    }

    .homeButton{
        border:1px solid #942911;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:18px;
    }
    .track{
        font-size: 36px;
    }
  }
        
