form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #cc0000;
    color: #cc0000;
    padding: 10px;
    margin: 10px;
    width: 30vh;
}

input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #cc0000;
    color: #cc0000;
    padding: 10px;
    margin: 10px;
    width: 30vh;
}

.log{
    font-size: 35px;
}

.log, .logEmail, .logPw{
    color: white;
    font-size: 28px;
}
label.logEmail{
    margin-bottom: 40px;
}


.logSubmit{
	background-color: #e60000;
	border-radius:3px;
    border:1px solid #942911;
    color: white;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	padding:13px 36px;
	text-decoration:none;
    text-shadow:0px 0px 0px #854629;
    margin-top: 70px;
    font-weight: 550;
    transition: background-color .5s;
}

.logSubmit:hover{
    background-color: #8B0000;
}

@media (min-width: 600px) {
   
.log{
    font-size: 45px;
    }   
}
        
