.logContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    grid-template-rows: 70px;
    grid-gap: 0px;
    border: 1px white solid;
    width: 94%;
}
button.addLog{
    cursor: pointer;
    font-family: sans-serif;
}
button.addLog:hover{
    background-color: grey;
    color: white;
}

p {
    font-size: 16px;
    padding: 5px;
}
.delete{
    width: 60px;
    height: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
}

span.date{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12px;
}

.addLog{
    border-radius:3px;
    margin-left: 20px;
}



@media (min-width: 600px) {
    .logContainer{
        display: grid;
        grid-template-columns: auto auto auto auto auto; 
        grid-template-rows: 100px;
        grid-gap: 0px;
        border: 1px white solid;
        width: 90%;
    }
    p {
      font-size: 22px;    
    }
  }
        