.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

.appName{
    padding-left: 20px;
    float: left;
    font-family: 'Slab';
}

.navLinks{
    float:right;
}

ul{
    list-style-type: none;
}

li{
    display:inline;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color:#cc0000;
    font-family: 'sans-serif';
  
}
a:hover {
    text-decoration: underline;
  }


@media screen and (min-width:800px) {

a{
    font-size: 20px; 
}
}